.crm-container h3:not(.widget-header) {
  background: #1466a9 !important;
  color: #fff !important;
  padding: 10px 10px !important;
}

.crm-contribution-view-form-block p {
  padding: 3px 10px !important;
}

.crm-container table.crm-info-panel td {
  white-space: nowrap !important;
  font-size: 16px !important;
  padding: 10px !important;
  background-color: #fff !important;
  color: #4a4a4a !important;
  border: none !important;
}

.crm-container table.crm-info-panel td.bold-text {
  font-weight: bold !important;
}

.crm-container .crm-content-block {
  margin-bottom: 20px !important;
}

#crm-main-content-wrapper table {
  margin-bottom: none !important;
  border: none !important;
}

.crm-contribution-thank-you-block table {
  display: block !important;
}

.crm-container .crm-submit-buttons {
  margin-bottom: 60px !important;
  margin-left: 10px !important;
}

.crm-container .form-layout td.label {
  text-align: left !important;
}

.crm-submit-buttons button i {
  display: none !important;
}

.crm-container .crm-submit-buttons button.crm-button_qf_IssueAggregateTaxReceipts_submit,
.crm-container .crm-submit-buttons button.crm-button_qf_IssueAnnualTaxReceipts_submit,
.crm-container .crm-submit-buttons button.crm-button_qf_IssueSingleTaxReceipts_submit,
.crm-container .crm-submit-buttons button.crm-button_qf_ViewTaxReceipt_submit {
  background: #A9A9A9 !important;
}

.hidden-receipt-page {
  display: none !important;
}

.crm-stripes table.crm-info-panel tr:nth-child(even) td {
  background: #f2f2f2 !important;
  background-color: #f2f2f2 !important;
}

#crm-main-content-wrapper table .display-cell-padding {
  padding-left: 200px !important;
}

#crm-main-content-wrapper table .display-cell-padding-right {
  padding-right: 50px !important;
}

.bold-weight {
  font-weight: bold !important;
}

.tab-left {
  padding-left: 40px !important;
}

.crm-container .crm-submit-buttons button.void-receipt {
  float: right !important;
  background-color: #ce7777 !important;
}

.crm-container table.border-top-td td {
  border-top: 1px solid #DFDFE1 !important;
}

.crm-container table.crm-info-panel td.label {
  width: 10px;
}

.crm-container table.crm-stripes-tr tr:nth-last-child(2n) td {
  background: #f2f2f2 !important;
  background-color: #f2f2f2 !important;
}

.crm-contribution-view-form-block .crm-info-panel td {
  vertical-align: inherit;
}

table.table-of-users tr.duplicate-receipt-contributions td, table.table-of-users tr.ineligibles-receipt-contributions td {
  background: #f2f2f2 !important;
  background-color: #f2f2f2 !important;
}
